# Optional configuration for local development
OLLAMA_MODEL=phi3:mini
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
TOP_K=3
CHROMA_DB_PATH=./db
EXERCISES_DATA_DIR=./data/raw/exercises
NUTRITION_DATA_DIR=./data/raw/nutrition5k
DIETS_DATA_DIR=./data/raw/diets
DIETS_DRIVE_FOLDER_URL=https://drive.google.com/drive/folders/1TlcrD1lR4xJvCuCJQma3YMc-q2ri6OOA?usp=sharing
